.EditPost
    max-width: 600px
    display: flex
    flex-direction: column
    align-items: flex-start
    h2
        font-size: 2.7em
        font-weight: 300
        margin: 10px 0
        text-align: start
    p
        margin-bottom: 20px
    form
        p
            text-align: start
            color: #333
            font-size: .8em
        img
            width: 100%