.post-detail
    margin-bottom: 2em
    display: flex
    flex-direction: column
    align-items: flex-start 
    img
        max-width: 600px
    h2
        margin: 1em 0
    .tags
        margin-bottom: 1.2em
        display: flex
        align-content: center
        p
            margin-right:.5em
            span
                font-weight: bold
    .createdBy
        font-style: italic
        color: #444
        margin: 10px 0
        font-size: .8em

