.loading
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    h1
        font-size: 3rem
        color: #222
    p
        color: #7f7f7f